
<h1 class="h1 text-center">JUEGO DADOS</h1>
<div class="container-fluid text-center">
  <app-dado [valor]="valor1"></app-dado>
  <app-dado [valor]="valor2"></app-dado>
  <app-dado [valor]="valor3"></app-dado>
  <hr>
  <div *ngIf="resultado == 'Has ganado'" class="alert alert-success" role="alert">
    <p>{{resultado}}</p>
  </div>

  <div *ngIf="resultado== 'Has perdido'" class="alert alert-danger" role="alert">
    <p>{{resultado}}</p>
  </div>
  
  <button (click)="lanzarDados()" class="btn btn-primary">Lanzar</button>
</div>